.App {
  /*text-align: center;*/
  color: #444;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-form {
  width: 80%;
}

@media only screen and (min-width: 1100px) {
  .header-logo {
    display: inline-block;
    float: left;
  }

  .header-search {
    display: inline-block;
    width: 400px;
  }

  .header-buttons {
    display: inline-block;
    float: right;
  }
}

@media only screen and (max-width: 1099px) {
  .header-logo {
    display: inline-block;
    float: left;
  }

  .header-search {
    display: inline-block;
    width: 290px;
  }

  .header-buttons {
    display: inline-block;
    float: right;
  }
}


@media only screen and (max-width: 930px) {
  .header-logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
  }

  .header-search {
    width: 90%;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
  }

  .header-buttons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: none;
  }

  .header-buttons button {
    margin-bottom: 0.5rem;
  }
}

.zuzu-logo {
  width: 120px;
  height: 40px;
  display: float;
  float: left;
}

.product-card {
  color: #444;
  text-decoration: none;
  border-color: red;
}

.product-card a:link {
  color: #444;
}

.product-card-image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.product-card-title {
  height: 3.5rem;
  overflow: hidden;
}

.product-details img {
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

.quantity-indicator {
  display: inline-block;
  text-align: center;
  width: 70px;
}

.add-to-cart {
  width: 198px;
}

.add-to-wishlist {
  width: 198px;
}

.center-children {
  text-align: center;
}

.centered-child {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.v-centered-child {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.left-children {
  text-align: left;
}

.star {
  color: #F2CA19;
}

.order-action-button {
  min-width: 200px;
  margin: 0.5rem 0;
}

.inline {
  display: inline;
}

.editable-list li {
  margin-bottom: 0.5rem;
}

.star {
  margin: 0 0.2rem;
}
